<%= form_for(@speed) do |f| %>
  <% if @speed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speed.errors.count, "error") %> prohibited this speed from being saved:</h2>

      <ul>
      <% @speed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>

  <div class="field">
    <%= label_tag "speed_txt" %><br>
    <%= text_field_tag "speed_txt"%>
  </div>

<!--
  <div class="field">
    <%= f.label :down %><br>
    <%= f.text_field :down %>
  </div>
  <div class="field">
    <%= f.label :up %><br>
    <%= f.text_field :up %>
  </div>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
